body{
  background: #2D9E7F;
}

.wrapper{
  width: 450px;
  display: block;
  margin: 150px auto;
}
.wrapper img{
  width: 100px;
  margin: 20px  auto;
  display: block;
}
.wrapper h1 {
  text-align: center;
  color: #fff;
  font-family: Arial;
  font-size: 21px;
}
